/* Original ruleset */

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 10px;
}

.icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
  width: 20vw;
}

.icon{
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

.app-title{
  font-size: 2rem;
  padding: 0.5rem;
  margin: 0px;
  border: 2px solid green;
  width: 60vw;
}

.navigation{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
  width: 20vw;
  cursor: pointer;
}

.navigation-menu-closed{
  display: none;

}

.navigation-menu-open{
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25vw;
  background-color: #282c34;
  border: 2px solid black;
}

.navigation-menu-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  width: 100%;
}

.close-icon {
  position: relative;
  top: 0px;
  right: 0px;
  width: 25px;
  height: 25px;
  cursor: pointer;

}

.nav-button {
  color: white;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
}

.router-navigation{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
  background-color: lightcoral;
  width: 20vw;
  cursor: pointer;
}

#router-navigation-menu-closed{
  display: none;
  background-color: blue;

}

#router-navigation-menu-open{
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25vw;
  background-color: #282c34;
  border: 2px solid black;
  background-color: blueviolet;
}

.router-navigation-menu-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  width: 100%;
}

.router-close-icon {
  position: relative;
  top: 0px;
  right: 0px;
  width: 25px;
  height: 25px;
  cursor: pointer;

}

.router-nav-button {
  color: white;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
}

.App-header h1{
  font-size: 3rem;
  padding: .5rem;
  margin: 0px;
}

.App-header h2{
  font-size: 2rem;
  padding: .5rem;
  margin: 0px;
}

.Split-screen{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 99vw;
  border: 2px solid blue;
  background-color: bisque;
  z-index: 1;
}

.App-body{
  height: 75vh;
  border: 2px solid red;
}

.side-by-side{
  height: 75vh;
  width: 50vw;
}

.searchBarForm{
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchButton{
  width: 5rem;
}

.App-footer{
    background-color: #282c34;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.Main-Search-Results{
  border: 2px solid red;
  background-color: aqua;
  min-width: 45vw;
}

.playlist{
  border: 2px solid red;
  background-color: lightblue;
  min-width: 45vw;
}

.h3-container{
  border: 2px solid darkgreen;
  background-color: lightgreen;
}

.Update-Playlist-Name{
  border: 2px solid darkblue;
  background-color: lightblue;
  min-width: 45vw;
  padding: 10px;
}

/* Game RuleSet */

.GameArea{
  background-image: url("../public/GameBackground.png");
  background-position: center;
  background-size: cover;
  height: 75vh;
  width: 99.5vw;
  z-index: -10;
}

.GameHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 10;
  color: white;
  border: 2px solid white;
  padding: 5px;
}

.Turret{
  background-image: url('../public/Turret.png');
  background-size: contain;
  position: absolute;
  height: 10vh;
  width: 5vw;
  z-index: 0;
  top: 62vh;
  left: 0vh;
}

.Laser{
  position: absolute;
  height: 50px;
  width: 10px;
  background-color: red;
}

.GameOverDialog{
  border: 2px solid red;
  z-index: 15;
  background-color: #282c34;
  color: white;
  text-align: center;
  align-content: center;
}